<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Page</title>
    <link rel="stylesheet" type="text/css" href="/css/forgotpasswordStyle.css">
</head>
<body>
    <div class="login-container"> 
       <h2>Forgot Password</h2>
       <form action="/forgotpassword" method="post">
            <input type="text" placeholder="User Id" name="id" required>
            <input type="email" name="email" placeholder="Email" required>
            <button type="submit">Submit</button>
       </form>
    <p id="forgotPasswordMessage"></p>

</body>
</html>
