<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Page</title>
</head>
<body>
    <h2>Forgot Password</h2>
    <form action="/forgotpassword" method="post">
        <div>
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
    <p id="forgotPasswordMessage"></p>

</body>
</html>
