.section-top{
    background-color: #fedbf4;
    align-items: center;
    justify-content: center;

    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.ThumbnailWrap{
    width: 90%;
    height: 594px;
    display: flex;
    border-radius: 3px;
    background-color:#fedbf4;
    justify-content: flex-start;
    padding-right: 10px;
}
.section-bottom{
    min-width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 25%;
    
    justify-content: center;
    align-items: center;
    
}

.movie-Thumbnail{
    display: flex; 
    justify-content: center;
    background-size:cover;
    height: 594px;
    width: 420px;
    overflow: hidden;
}
.center {
	justify-content: center;
}
.summaryWrap{
    height: 100px;
    bottom: 0;
    justify-content: flex-start;
}
.summary{
    width: 300px;
    height:200px;
    position: relative;
    left: 262px;
    display: flex;
}
#nav-summary{
    bottom: 0;
}
#summary-detail{
    list-style-type: none;
    text-decoration: none;
    padding-left: 25px;
}
#summary-detail li{
    
    margin-bottom: 10px;
}
#summary-detail li a{
    
    color: black;

}
.movieInfo{
    display: flex;
    overflow: auto;
    min-width: 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    position: relative;
    height: 600px;
    background-color: rgba(128, 128, 128, 0.085);
}

.poster-section{
    display: block;
    width:280px;
    height: 594px;
    border-right: 1px solid gray;
}
.info-section{
    flex: 1 1 0%;
    right: 0;
    width: 600px;
    top: 0;
    height: 594px; 
   bottom: 0; 
}
.sort {
   flex-direction: column;
   align-items: flex-start; /* 왼쪽 정렬 */
   width: 100%; /* 필요한 경우 조정 */
}
.poster{
    position: relative;
    width: 210px;
    height: 297px;
    margin-left: 32px;
    margin-top: 32px;
}

#poster{
    vertical-align: middle;
    width: 210px;
    height: 297px;
    object-fit: cover;
}
.title {
	padding-left: 20px;
}

.star-Rating{
    width: 100%;
    height: 100px;
}
.rating{
    align-items: center;
    justify-content: center;
    height: 100px;
    display: flex;
}
.func{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin: 0px auto;
}
.movieFunc{
    display: flex;
    height: 100px;
    align-items: flex-start;
    width:100%;
    justify-content: space-between;
}
.movie-plot{
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;
}
.movie-plot a{
    display: inline-block;
    margin: 7px;
    font-size: 19px;
}
.func button{
    cursor: pointer;
    margin-top: 15px;
    display: flex;
    cursor: pointer;
    border: none;
    align-items: center;
    overflow: hidden;
    width: 80px;
    height: 60px;
    flex-direction: column;
    background: none;
}
.func button a{
    font-size: 12px;
    margin-top: 4px;
}
.fa-regular fa-heart{

}
.bookmark-icon{
    width: 50px;
    height: 50px;
}
.bookmark-icon.clicked{
    fill: #ffbcf8;
}
.heart-icon{
    width: 50px;
    height: 50px;
}
.heart-icon.clicked{
    fill: #ffbcf8;
}
.comment-icon{
    width: 50px;
    height: 35px;
}
.comment-icon.clicked{
    fill: #ffbcf8;
}
.appearanceWrap{
    display: block;
    width: 100%;
    height: 350px;
}

.appearanceWrap header{
    height: 50px;
    width: 95%;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color:aliceblue;
    padding-left: 5%;
}
.appearanceWrap header a{
    display: inline-block;
}

#actor{
    height: 310px;
    display: flex;
    list-style-type: none;
    padding-left: 5%;
    margin-top: 10px;
    overflow-x: auto;
}

.appearanceWrap  ul li {
    background-color: #f9deecbf;
    border-radius: 3px;
    margin-left: 3px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.482);
    align-items: center;
   margin-right: 10px;
    height: 280px;
}
#actor li a {
    margin-left: 8px;
    display: flex;
    align-items: center;
}
.name {
    padding-top: 8px;
    font-size: 16px; /* 글자 크기를 16px로 설정 */
    text-align: center; 
}
.comment-section {
    margin-bottom: 20px;

}
.comment-form {
margin-top: 10px;

display: none;
}
  
.comment-form textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
    margin-bottom: 10px;
}
  
.comment-form button[type="submit"] {
    background-color:#fedbf4;
    border-radius: 2px;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}
.comment-form textarea{
    width: 100%;
    border-radius: 3px;
    background-color:rgba(128, 128, 128, 0.095);
    border: 0;
}
textarea:focus{
    outline: none;
}
.comment-form.hidden {
}

.comment{
    display: block;
        width: 100%;
	    height: 350px;
}
.comment header{
    overflow-x: hidden;
    border-bottom: 1px solid rgba(128, 128, 128, 0.692);
    height: 50px;
    width: 95%;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color:aliceblue;
    padding-left: 5%;
}

.comment ul{
    position: relative;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    gap: 50px;
    list-style-type: none;
    border: 1px solid red;
}
.comment ul li{
    padding: 10px;
}
.comment ul li a{
    color: black;
    text-decoration: none;
}


#comment-object{
    border: 1px solid black;
    width: 120px;
    height: 200px;
    flex: 1 1 calc(25% - 10px);

}
