        .login-container {
            font-family: Arial, sans-serif;
            background-color: #fcfcfc; /* 약간의 음영을 추가한 흰색 */
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 80%;
            max-width: 400px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .login-container h2 {
            margin-bottom: 20px;
        }
        .login-container input[type="text"],
        .login-container input[type='email'],
        .login-container button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        .login-container button {
            background-color: #ffbcf8; /* 분홍색 */
            color: #fff;
            cursor: pointer;
        }
        .login-container button:hover {
            background-color: #ff8be8; /* 분홍색 더 밝은 색 */
        }
        .signup-link {
            margin-top: 20px;
            font-size: 14px;
        }
        .signup-link a {
            color: #007bff; /* 파란색 */
            text-decoration: none;
        }
        .signup-link a:hover {
            text-decoration: underline;
        }
