@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',Arial,sans-serif;
  font-size: 15px;
}
h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
header{width:100%; min-width: 100px;}
.navbar {border: medium none; float:left; margin-bottom: 0px; width: 100%;  border-radius: 0}
.top-head{background: #fedbf4; width: 100%; float:left; height: 68px;}
.top-head h1 {color: #fff; font-size: 40px; font-weight: 600; margin-top: 25px; margin-left: 4%;}
.top-nav{background: #fedbf4; padding: 0; height: 60px; width: 100%;}
.top-nav .nav-link {padding-bottom: 0.7rem; padding-top: 0.7rem; }
.top-nav .navbar-nav .nav-item + .nav-item{margin-left:3px;}
.navbar-nav{width: 850px; display:block; overflow:visible;}
.top-nav li {display:inline;}
.top-nav li a{color: #ffffff; text-transform: uppercase; font-size: 14px; font-weight: 700; padding:0 50px; border-bottom: 2px solid #fff; text-decoration-line: none; }
.top-nav li a:hover, .top-nav li a:focus, .top-nav li.active a{color: #ff00c3; border-bottom: 2px solid  #ff00c3 }
.top-nav .form-control{border-color: #fff}
.top-nav .nav-inline .nav-link{color:white; text-decoration-line: none; float: left; margin-left: 91%; font-weight: 600; }
.top-nav .profile {color: white; position: absolute; top: 20px; right: 20px; display: block; border:1px solid black; width: 40px; height: 40px; border: none;}
.top-nav .material-symbols-outlined{font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 38px;
  
}


.search-box {
  height: 23px;
  width: 250px;
  background:white;
  border-radius: 40px;
  padding: 8px;
  float: right;
  margin-right: 40px;
  position: absolute;
  top: 78px;
  right: 0;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #797979;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  
}
@media(max-width:1100px){
  .search-btn{
    display: none;
  }
  .search-txt{
    display: none;
  }
  .search-box{
    display: none;
  }
}
.search-btn {
  color: #f9deec;
  float: right;
  width: 40px;
  height: 100%;
  border-radius: 50%;
  background: white;
  border: none;
font-size: 16px;
justify-content: center;
align-items: center;
}

#search {float: right; margin-top: 9px; width: 250px;}
.search {padding: 3px 0; width: 230px; height: 30px; position: relative; left: 10px; float: left; line-height: 22px;}

.search:hover input, .search input:focus { width: 200px; margin-left: 0px; background: #ffffff;}
.top-nav .btn {position: absolute;right: 0;top: 4px;border-radius:3px;}
#map {
	height: 630px;
	width: 100%;
}

#my {
	text-decoration: none;
	color: white;
}

/* Ratings widget */
.rate {
    display: inline-block;
    color: rgb(230, 230, 230);
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
    color: #F2F2F2;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 3rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* Zero stars rating */
.rate > input:checked ~ label:first-child ~ label:before,
.rate > label:last-child:not(:checked):before {
	    content: "\f005 "; /* full star */
    }
.rate > label:last-child:before {
    content: "\f006 "; /* empty star outline */
}
/* Half star trick */
.rate .half:before {
    content: "\f089"; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: #ffbcf8;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #ffbcf8;  }
.movie-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px; /* 영화 사이의 간격 */
	justify-content: center; /* 가운데 정렬 */
}
.movie {
	flex: 1 0 21%; /* 각 영화의 기본 너비와 최소 너비 설정 */
	box-sizing: border-box;
	text-align: center; /* 텍스트 가운데 정렬 */
}

.movie img{
	max-width: 100%; /* 이미지가 컨테이너를 넘어가지 않도록 */
	height: auto;
	border-radius: 8px;
}

.movie h2 {
	font-size: 1.2em;
	margin: 10px 0 0;
}
.movie_a{
	text-decoration: none; /* 밑줄 제거 */
	color: inherit; /* 링크의 색상을 부모 요소에서 상속받도록 설정 */
}
.movie-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-gap: 50px;
}
